# fly.toml app configuration file generated for too-many-coins-2e--pw on 2026-02-03T22:28:43Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'too-many-coins-app'
primary_region = 'iad'

[build]

[env]
  APP_ENV = "alpha"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = "connections"
    soft_limit = 20
    hard_limit = 25

[[mounts]]
  source = "data"
  destination = "/data"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
